<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>WASM Module Test</title>
</head>
<body>
    <script type="module">
        // Note: This requires the pkg directory from wasm-pack build
        // For testing, run: wasm-pack build --target web --dev

        /*
        import init, { greet, add, create_point } from '../pkg/{{crate_name}}.js';

        await init();

        console.log(greet("WASM"));
        console.log("2 + 3 =", add(2, 3));

        const p = create_point(3.0, 4.0);
        console.log("Point:", p.x, p.y);
        */
    </script>
</body>
</html>